<div class="card">
    <!-- Top image -->
    <img class="card-img-top" src="@Item?.Image" alt="Card image cap">

    <!-- Card body -->
    <div class="card-body">
        <!-- Title -->
        <h5 class="card-title">@Item?.Title</h5>
        <!-- Description -->
        <h6 class="card-subtitle mb-2 text-muted">@Item?.Description</h6>
        <!-- Card text -->
        <p class="card-text">@GetContent()</p>

        <!-- More.... -->
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>

    <!-- Footer -->
    <div class="card-footer">
        Featured
    </div>
</div>

@code {
    [Parameter]
    public IPostCardData? Item { get; set; }

    public string GetContent()
    {
        return Item?.Text?.Substring(0, 100) ?? string.Empty;
    }
}
