@page "/readview"

<style>
    .searchBar {
        background-color: cadetblue;
        height:100px;
    }
</style>

<div class="container searchBar">
    <div class="row">
        <div class="col-sm-1">Item 1</div>
        <div class="col-sm-1">Item 2</div>
    </div>
</div>

@code {

}
