@rendermode InteractiveServer

<nav class="navbar sticky-top navbar-expand-sm bg-body-secondary">
    <div class="container-fluid">
        <!-- Logo image -->
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>

        <!-- Hamburger button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" xstyle="background: green;" id="mynavbar">
            <ul class="navbar-nav me-auto" xstyle="background:red; align-content:center">
                <!-- Blogs -->
                <li class="nav-item">
                    <a class="nav-link" href="blogs">Blogs</a>
                </li>
                <!-- Posts -->
                <li class="nav-item">
                    <a class="nav-link" href="posts">Posts</a>
                </li>
                <!-- Sources -->
                <li class="nav-item">
                    <a class="nav-link" href="sources">Sources</a>
                </li>
            </ul>

            <!-- Search form (temporary) -->
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="I should not be here...">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>