<FluentStack>
    <img src="./images/FMLLogo.png" style="width: 42px; height: 42px" />
    &nbsp;&nbsp;
    <div style="color: green">Intelli</div>
    <div style="color: blue">Blog</div>

    <div style="flex-grow: 1;"></div>

    <FluentAnchor Href="https://github.com/freemindlabsinc" Target="_blank">
        <img src="./images/github.png" width="20" height="20" />
    </FluentAnchor>

    <FluentAnchor Href="./alerts"
                  Button IconEnd="@(new Icons.Regular.Size24.Alert())"
                  Title="Alerts" />

    <FluentAnchor Href="./settings"
                  IconEnd="@(new Icons.Regular.Size24.Settings())"
                  Title="Settings"
                  Appearance="Appearance.Neutral" />
</FluentStack>